# gitで管理しない

.*~
*~
/.emacs.d/*
/.xkeysnail/*
/.config/*
/.ddskk/*

# gitで管理する
!/.emacs.d/init.el
!/.emacs.d/conf
!/.emacs.d/elisp
!/.emacs.d/elpa
!/.emacs.d/public_repos
!/.ddskk/init
!/.xkeysnail
#!/.config/.config.py
#!/.config/i3
