# gitで管理しない
.*~
*~
/.emacs.d/*
/.xkeysnail/*
/.config/*
/.ddskk/*
/.config/fcitx/skk/user.dict
/.config/fcitx/clipboard/history.dat

# gitで管理する
# emacs関係
!/.emacs.d/init.el
!/.emacs.d/conf
!/.emacs/ddskk/init
!/.emacs.d/elisp
!/.emacs.d/elpa
!/.emacs.d/public_repos
!/.emacs.d/script
!/.emacs.d/snippets
# 設定ファイル
!/X11ForNotePC
!/.bashrc
!/.Xmodmap
!/.xinitrc
!/.zshrc
!/.config/libskk
!/.config/fcitx
!/.config/termite
!/.config/chrome-dev-flags.conf
!/.config/chromium-flags.conf
!/.config/mpv
!/.Xresources
