# gitで管理しない
/*
*/

# gitで管理する
!/.gitignore

# directory
!/alacritty/*
/alacritty/alacritty_local.yml
!/foot/
!/gtk-3.0/
!/kitty/
!/libskk/
!/mpv/
!/zathura/

# file
!/brave-flags.conf
!/btermrc
!/fcitx
!/fcitx5
!/mimeapps.list
!/starship.toml
